#conteinerBody {
    position: absolute;
    width: 1400px;
    height: 800px;
    background-color: green;
    display: flex;
}

#conteinerLeft {
    width: 200px;
    height: 800px;
    background-color: blue;
}

#conteinerRight {
    width: 200px;
    height: 800px;
    background-color: blue;
}

#headDiv {
    width: 1000px;
    height: 800px;
    background-color: black;
}

.boxesSpace {
    width: 200px;
    height: 100px;
    background-color: yellow;
    border-top: 2px solid black;
    display: inline-flex;
}

#Box1 {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: green;
    margin-left: 20px;
    margin-top: 20px;
}